.share {
    background-color: transparent;
    color: rgb(119, 93, 172);
    border: none;
    font-size: large;
}
.friend {
    background-color: transparent;
    color: rgb(119, 93, 172);
    border: none;
    font-size: large;
}