nav {
    width: 100%;
    background-color: #65558F;
    color: bisque;
    border-radius: 0 0 8px 8px;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 180px;
    border-radius: 8px;
}

nav ul li {
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
}
.navTabs {
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}
.navActions {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin-left: auto;
}

.profButton {
    color: bisque;
    background-color: transparent;
    font-size: 26px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.userOptions {
    background-color: rgb(172, 146, 223);
    color: bisque;
    border: 1px solid rgb(250, 198, 135);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    padding: 8px;
}

.userOptions a {
    margin-top: 5px;
}

.navBtn {
    font-size: 16px;
    background-color: var(--background-color);
    color: mediumpurple;
    border-radius: 32px;
    height: 30px;
    align-items: center;
    width: 30px;
    justify-content: center;
    padding: 1px;
    border: none;
    cursor: pointer;
}

.navButtons {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

