nav {
    width: 100%;
    background-color: mediumpurple;
    color: bisque;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
    border-radius: 8px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
}
.profile {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.profile>button{
    color: bisque;
    background-color: mediumpurple;
    font-size: 26px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.userOptions{
    background-color: rgb(172, 146, 223);
    color: bisque;
    border: 1px solid rgb(250, 198, 135);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    padding: 8px;
}

.userOptions a {
    margin-top: 5px;
}


.clubsIcon {
    font-size: 26px;
    margin-right: 10px;
}