.links {
    color: rgb(109, 85, 158);
    text-decoration: underline;
}

.pics {
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bookPic {
    border-radius: 2px;
    height: 100px;
    width: 60px;
    margin-right: -40px;
}

.senderPic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border: 2px solid rgb(134, 93, 218);
    
}

.friend>button {
    background-color: transparent;
    color: mediumpurple;
    border: none;
    font-size: large;
}
.old {
    border-bottom: 1px solid bisque;
    color: rgb(140, 83, 255);
    display: flex;
    flex-direction: row;
}
.fresh {
    border-bottom: 1px solid bisque;
    background-color: bisque;
    color: rgb(140, 83, 255);
    display: flex;
    flex-direction: row;
}

.time {
    font-size: small;
    margin-left: 5px;
}
.remove {
    background-color: transparent;
    border: none;
    padding: 2px;
}
.remove:hover {
    background-color: bisque;
}