.notif .msg {
    color: rgb(98, 41, 212);
}

.links {
    color: rgb(109, 85, 158);
}

.bookPic {
    border-radius: 2px;
    height: 20px;
    width: 10px;
}

.senderPic {
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

.friend>button {
    background-color: transparent;
    color: mediumpurple;
    border: none;
    font-size: large;
}