.store label{
    display: flex;
    flex-direction:column;
    font-size: 50px;
    color: rgb(130, 99, 190);
}

.store >h1 {
    color: mediumpurple;
    font-size: 50px;
}

.results{
    margin-top: 50px;
}

.SearchArea{
    display: flex;
    justify-content: center;
}
.type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.type{
    font-size: 30px;
    color: white;
    background-color: rgb(164, 139, 214);
}
.text {
    font-size: 30px;
    color: white;
    background-color: rgb(164, 139, 214);
}
.searchBar ::placeholder {
    color: rgb(233, 225, 211);
}
.searchIcon{
    color: mediumpurple;
    background-color: white;
    font-size: 30px;
    border: 1px solid mediumpurple;
    cursor: pointer;
    padding: 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-link {
    padding: 4px;
    color: rgb(100, 58, 184);
    font-size: large;
    background-color: white;
    border: 1px solid mediumpurple;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.curPage {
    color: rgb(85, 0, 255);
    background-color: rgb(179, 196, 211);
}