.setting {
    color: mediumpurple;
    background-color: transparent;
    font-size: 30px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 25%;
    border-color: mediumpurple;
}
.setting:hover {
    background-color: rgb(255, 208, 150);
    color: rgb(113, 86, 168);
}
.owned {
    background-color: rgba(165, 138, 219, 0.712);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.false {
    display: none;
}


.active {
    background-color: mediumpurple;
    color: bisque;
}
.bookOptions {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.readBook {
    color: rgb(128, 97, 189);
    border: 2px rgb(140, 100, 219) solid;
    background-color: rgb(255, 244, 230);
    border-radius: 5px;
}
.readBook:hover{
    background-color: rgb(128, 97, 189);
    color: rgb(255, 244, 230);
}



.readerSettings {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}