.libBooks{
    display: flex;
    color: var(--text-color);
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    padding: 10px;
    width: 600px;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 0 10px;
}

.bCover{
    aspect-ratio: 0.6;
    width: 120px;
    object-fit:cover;
    border-radius: 10px;
    cursor: pointer;
}

.bookInfo{
    margin-left: 10px;
}

.bookGenre{
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.bookTitle{
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

.Pub_Auth{
    font-style: italic;
    font-size: 17px;
}

.bookDesc{
    font-size: 16px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.iconContainer {
    margin-top: 5px;
    margin-left: 4px;
    display: flex;
    align-items:flex-start;
}

.bHeader {
    display: flex;
    flex-direction: row;
}
.libraryPart {
    margin-left: auto;
    padding-top: 20px;
    padding-right: 20px;
}