.make {
    padding-top: 10;
    margin: 0px 25px 40px 25px;
    border: 2px solid mediumpurple;
    border-radius: 8px;
}

.makeReview {
    position: relative;
}
.makeRevGrp {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid mediumpurple;
}

.userName {
    color: rgb(119, 91, 175);
    font-size: 25px;
}

.reviewIcon {
    width: 25px;
    height: 25px;
    color: rgb(174, 152, 219);
}

.revInput {
    font-size: 30px;
    border: none;
    padding: 10px;
    color: mediumpurple;
    background-color: transparent;
}

.revInput:focus {
    outline: none;
}

.revText {
    font-size: 20px;
    font-family: 'Lora', serif;
    color: rgb(104, 76, 161);
    width: 70vw;
    height: 150;
}

.revSubmit {
    height: 30px;
    width: 30px;
    margin-left: 100px;
    font-size: larger;
    color: mediumpurple;
    cursor: pointer;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-rating>p {
  font-size: 20px;
  color: rgb(120, 74, 211);
  margin-left: 5px;
  font-weight: bolder;
}

.star-input {
  display: none;
}

.star-label {
  display: inline-block;
  cursor: pointer;
  color: rgb(135, 118, 167);
  font-size: 20px;
}

.star-label.filled:hover,
.star-label:hover {
  color: rgb(137, 78, 255);
}

.star-label.filled {
  color: rgb(133, 72, 255);
}