.make {
    padding-top: 10;
    margin: 0px 25px 40px 25px;
}

.makeReview {
    position: relative;
}

.userName {
    color: rgb(119, 91, 175);
    font-size: 25px;
}

.reviewIcon {
    width: 25px;
    height: 25px;
    color: rgb(174, 152, 219);
}

.revInput {
    font-size: 30px;
    border: none;
    padding: 10px;
    color: mediumpurple;
    background-color: transparent;
}

.revInput:focus {
    outline: none;
}

.revText {
    font-size: 20px;
    font-family: 'Lora', serif;
    color: rgb(104, 76, 161);
    width: 70vw;
    height: 150;
}

.revSubmit {
    height: 30px;
    width: 30px;
    margin-left: 100px;
    font-size: larger;
    color: mediumpurple;
    cursor: pointer;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.star-rating i {
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating i:hover,
.star-rating i:focus {
  color: #ffb900;
}

.star-rating i.active {
  color: #ffb900;
}

.star-rating i.half-active {
  color: #ffb900;
  transition: color 0.2s;
}

.star-rating i.half {
  transition: color 0.2s;
}

.star-rating i.half {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #ffb900;
  }

  &:after {
    left: 50%;
  }
}