.makeContainer {
  padding: 0 4% 4%;
}
.titleContainer {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 28px;
}
.makeTitle {
  border-radius: 10px 0 0 0;
  background-color: #e0d1ea;
  overflow: hidden;
  flex-grow: 1;
  padding: 11px 22px;
  border: 1px solid #56487c;
  font: inherit;
  color: #56487c;
}
.postButton {
  align-self: stretch;
  border-radius: 0 10px 0 0;
  background-color: #56487c;
  min-height: 49px;
  min-width: 100px;
  gap: 8px;
  overflow: hidden;
  color: #ffeed9;
  padding: 13px 12px;
  font-size: 24px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.postButton:hover {
  background-color: #211c30;
}
.makeRevText {
  min-height: 500px;
}
.makeRevText {
  display: flex;
  min-height: 80px;
  width: 100%;
  align-items: flex-start;
  overflow: hidden;
  justify-content: flex-start;
  flex: 1;
  height: 100%;
  padding: 8px 8px;
  border: 1px solid #56487c;
  border-radius: 0 0 5px 5px;
  background-color: var(--card-color);
  color: var(--text-color);
  font-size: 16px;
}
.makeRevText::placeholder {
  color: var(--button-color);
}



.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.star-rating>p {
  font-size: 20px;
  color: var(--button-color);
  margin-left: 5px;
  font-weight: bolder;
}

.star-input {
  display: none;
}

.star-label {
  display: inline-block;
  cursor: pointer;
  color: var(--button-color);
  font-size: 20px;
}

.star-label.filled:hover,
.star-label:hover {
  color: var(--button-text-color);
}

.star-label.filled {
  color: var(--button-color);
}