.review {
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.revRemove {
    height: 30px;
    width: 30px;
    font-size: larger;
    color: mediumpurple;
    cursor: pointer;
}

.revInfo {
    margin-left: 10px;
}

.reviewTitle {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: bold;
    color: mediumpurple;
    padding-bottom: 3px;
}

.reviewIcon {
    margin-left: 5px;
}

.reviewDate {
    font-weight: lighter;
    color: rgb(174, 133, 255);
    font-style: italic;
}

.revDesc {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: rgb(104, 76, 161);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    border-top: 1px solid mediumpurple;
}

.hide {
    overflow: hidden;
    text-overflow: ellipsis;
}





.revs {
    margin-bottom: 20px;
}