.topCategory {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
}


.settingsProfPic {
    display: flex;
    align-items: center;
    margin-top: 10px 0;
}
.settingsProfPic>img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    object-fit:cover;
}

.data {
    padding: 10px;
}

.unFriends .uName {
    color: rgba(90, 7, 255, 0.959);
    font-size: 72px;
}
.unFriends>button {
    font-size: xx-large;
    color: mediumpurple;
    background-color: rgb(255, 248, 220);
    border: 1px solid mediumpurple;
    border-radius: 8px;
    margin-left: 50px;
    padding: 2px;
}

.friendsList .miniF {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-right: 5px;
    border: 1px solid rgb(255, 166, 56);
}
.friendsList .namePic {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.friendsList .fItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fItem>button {
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    border: 1px solid mediumpurple;
    border-radius: 50%;
    color: mediumpurple;
}
.fItem>button:hover {
    background-color: mediumpurple;
    color: bisque;
}

.listPop {
    padding: 8px;
    background-color: rgb(255, 212, 148);
    color: rgb(116, 57, 235);
    border: 2px solid mediumpurple;
    border-radius: 5px;
    font-size: larger;
}
.addPop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid mediumpurple;
    
}
.enterName>input {
    background-color: bisque;
    color: mediumpurple;
    border: 1px solid mediumpurple;
    margin-right: 5px;
    border-radius: 5px;
    padding-left: 2px;
    font-size: medium;
    width: 125px;
}
.enterName>input::placeholder {
    color: mediumpurple;
}
.enterName .addF {
    color: bisque;
    background-color: mediumpurple;
    border: none;
    border-radius: 5px;
    font-size: larger;
    padding-left: 5px;
    padding-right: 5px;
}

.favGenre {
    margin-top: 25px;
}
.favGenre .title {
    color: rgba(90, 7, 255, 0.959);
}
.favGenre>label {
    margin-left: 10px;
}

.bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nowRead {
    display: flex;
    flex-direction: column;
    border-top: none;
    padding-right: 10vb;
}


.lib {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid mediumpurple;
    border-top: none;
    padding: 10px;
    background-color: rgba(255, 248, 220, 0.911);
    
}
.bottom .cat {
    color: rgba(90, 7, 255, 0.959);
}
.lib .value {
    font-size: x-large;
}



.smallPic>img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    object-fit: fill;
}

.changeText>input {
    font-size: xx-large;
    color: rgb(116, 57, 235);
    border: 2px solid rgb(116, 57, 235);
    padding-left: 5px;
}
.changeText .top {
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.changeText>input::placeholder {
    color: rgb(116, 57, 235);
}
.changeText>button {
    color: rgb(116, 57, 235);
    font-size: xx-large;
    background-color: bisque;
    border: 2px solid rgb(116, 57, 235);
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.edit {
    background-color: rgba(171, 148, 218, 0.836);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    border: 5px solid rgb(116, 57, 235);
    border-radius: 8px;
}
.edit .changeText {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.edit>label{
    color: aliceblue;
    font-size: xx-large;
}
