.bookInfoContainer {
    align-self: self-start;
    color: var(--text-color);
}
.contentWrapper {
    display: flex;
    gap: 20px;
}
.imgColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 29%;
    margin-left: 0;
}
.singleBookCover {
    aspect-ratio: 0.66;
    object-fit: contain;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    margin-top: 40px;
}
.detailsColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 71%;
    margin-left: 20px;
}
.detailsWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 40px;
}
.headerSection {
    display: flex;
    width: 100%;
    gap: 40px 85px;
    flex-wrap: wrap;
}
.headerContent {
    flex-grow: 1;
    flex-basis: auto;
}
.headerLayout {
    display: flex;
    gap: 20px;
}
.titleColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 72%;
    margin-left: 0;
}
.titelWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    font-weight: 600;
    line-height: 1.3;
}
.genre {
    font-size: 32px;
}
.bookTitle {
    font-size: 96px;
    margin-top: 6px;
}
.authorInfo {
    font-size: 40px;
    font-weight: 500;
    align-self: stretch;
    margin-top: 27px;
}
.rateInfo {
    font-size: 24px;
    font-weight: 600;
}
.reviewIcon {
    padding-right: 4%;
}
.actionColumn {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
    margin-bottom: auto;
    padding-right: 10%;
}
.share{
    border-radius: 5px;
    color: var(--button-text-color);
    background-color:  var(--button-color);
    font-size: medium;
    padding: 5px;
    border: none;
}
.desc {
    padding-top: 16px;
    font-size: 20px;
    font-weight: 600;
}

.split {
    margin-left: 5px;
    margin-right: 5px;
}

.revHeader {
    color: var(--text-color);
    font-size: 36px;
    margin-left: 10px;
}
.mainContents {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}